body {
  text-align: center;
  background-color: #FFEEE6;
}

@font-face {
  font-family: 'Carolyna Pro Black';
  font-style: normal;
  font-weight: normal;
  src: local('Carolyna Pro Black'), url('/fonts/carolyna-pro-black.woff') format('woff');
}

.custom-font {
  font-family: 'Carolyna Pro Black';
}

.navcase {
  text-transform: lowercase;
  font-size: 1.25em;
}

.navbar-brand {
  font-size: 2.5em;
  padding-left: 15px;
}

.message, .stat, .back-to {
  text-transform: uppercase;
}

.message {
  margin-top: 10px;
}

.component {
  margin-top: 20px;
}

body, h1, h3, h4, h5, h6 {
  font-family: 'Questrial', sans-serif;
}

h2 {
  font-family: 'Limelight', cursive;
}

h2, h3 {
  padding: 10px 0;
  margin: 0;
}

h4, h5 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.25rem;
}

h2, h3, .bold {
  font-weight: 900;
}

.index-link {
  font-size: 1.5em;
  font-family: 'Questrial', sans-serif;
}

.image {
  padding: 10px;
}

.thumb {
  padding: 0;
}

.carousel {
  margin: auto;
}

@media (min-width: 992px) {
  .carousel {
    width: 75%;
  }
}

.content-padding {
  padding: 20px 0;
}

.modal {
  margin-top: 100px;
}

.bio {
  font-size: 1.25em;
}

.bio-logo {
  font-size: 1.5em;
}

.footer {
  margin-bottom: 20px;
}

.favicon {
  height: 50px;
}

.instagram {
  margin-top: -5px;
}

.recent {
  margin-top: 15px;
}

.button {
  margin: 10px;
}

.thumbnail-row {
margin-top: 10px;
}
