body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  background-color: #FFEEE6;
}

h2, h3 {
  text-align: center;
}

.sidenav-links {
  text-align: center;
  list-style: none;
  margin-top: 15rem;
}

@media (max-width: 600px) {
  .desktop-only {
    display:none !important;
  }
}
