<footer class="footer">
  <hr>
  <p>© 2017 peached.ink. All rights reserved.</p>
  <div>
    <p>Designed & developed by <a href="http://dalazaro.github.io" target="_blank">Daryl Jason Lazaro</a>. Check out <a class="footer-links" href="https://www.github.com/dalazaro/peached-ink" target="_blank">peached.ink on GitHub</a></p>
  </div>
</footer>
