<footer class="footer container">
  <hr>
  <div>
    <p>© 2017 peached.ink. All rights reserved.</p>
    <p>Designed & developed by <a href="http://dalazaro.github.io" target="_blank">Daryl Jason Lazaro</a>.</p>
  </div>
</footer>
