<% @user = User.find(1) %>
<% @collections = Collection.where(user_id: @user.id).order('id DESC').limit(3) %>

<h2>Life captured in cute and simple art form.</h2>

<h3>Newest Illustration Collections</h3>

<% @collections.each do |collection| %>
  <div>
    <h4><%= link_to collection.name, collection_path(collection.slug) %></h4>
    <h5><%= (collection.description).gsub("\r\n", "<br>").html_safe %></h5>
    <%= image_tag(collection.illustration01.url, :width=>200) if collection.illustration01? %>
  </div>
<% end %>
